include:
  - local: '/templates/{{base_distro}}.yml'

stages:
  - base image build
  - image build

workflow:
  rules:
    - if: '$CI_PIPELINE_SOURCE == "parent_pipeline"'
    - if: '$CI_COMMIT_BRANCH && $CI_OPEN_MERGE_REQUESTS'
      when: never

.known buildah image:
  image: {{known_build_image}}

# we overwrite the script of fdo.container-build
# because we need to rely on the local cbuild
.ci-fairy-build:
  extends:
    - .fdo.container-build@{{base_distro}}@x86_64
    - .known buildah image
  variables:
    FDO_REPO_SUFFIX: ci-fairy
  script:
    - ./bootstrap/cbuild --debug build-container {{base_distro}} {{base_distro_version}} $FDO_DISTRIBUTION_TAG

# The ci-fairy base image. We build a base image that we can bump independently
# via the tag, ci-fairy itself gets layered on top with each commit.
# This image is private to ci-templates.
ci-fairy-base-image:
  extends:
    - .ci-fairy-build
  stage: base image build
  variables:
    FDO_DISTRIBUTION_PACKAGES: '{{packages}}'
    FDO_DISTRIBUTION_TAG: {{tag}}

.ci-fairy-tag:
  variables:
    FDO_DISTRIBUTION_TAG: sha256-{{ci_fairy.hashfiles(*sha_sources)}}

# The actual ci-fairy image with ci-fairy installed
# This image uses the sha of the ci-fairy script itself as tag.
ci-fairy-image:
  extends:
    - .ci-fairy-tag
    - .ci-fairy-build
  stage: image build
  variables:
    FDO_BASE_IMAGE: $CI_REGISTRY_IMAGE/ci-fairy:{{tag}}
    FDO_DISTRIBUTION_EXEC: 'pip install .'
  needs:
    - ci-fairy-base-image
